#box1 {
    background-color: lightcoral;
    padding: 20px;
    border: 2px solid darkred;
    margin: 10px;
    border-radius: 5px;
}

#box2 {
    background-color: lightcoral;
    padding: 20px;
    border: 2px solid darkred;
    margin: 10px;
    border-radius: 5px;
}
#box3 {
    background-color: lightcoral;
    padding: 20px;
    border: 2px solid darkred;
    margin: 10px;
    border-radius: 5px;
}

#box4{
    background-color: lightcoral;
    padding: 20px;
    border: 2px solid darkred;
    margin: 10px;
    border-radius: 5px;
}